@page "/"

<h1>Welcome to Innovate Eugene!</h1>

<div>This is going to be a great place to see innivation assets and add new ones. </div>

<div>Try "list Assets" or "Add Asset from the navigation to get stareted. </div>


@*<RadzenButton Text="@text" Click="@ButtonClicked"></RadzenButton>
    @code {
      string text = "OK";
      void ButtonClicked()
      {
        text = text == "OK" ? "Cancel" : "OK";
      }
    }*@


