@page "/"

<h1>Welcome to Innovate Eugene!</h1>

<div>this is going to be a great place to see innivation assets and add new ones. </div>

<RadzenButton Text="@text" Click="@ButtonClicked"></RadzenButton> 
@code {
  string text = "OK";
  void ButtonClicked()
  {
    text = text == "OK" ? "Cancel" : "OK";
  }
}


